#button1{
    width: 300px;
    height: 40px;
    margin-top: 25%;
}
#button2{
    width: 300px;
    height: 40px;
    margin-top: 25%;
}
#repopulate{
/*    position: absolute;*/
    top: 10%;
    right: 80%;
/*    transform: translate(-50%, -50%);*/
    text-align: center;
}
#container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#boxed {
    overflow: auto;
    position:absolute;
    top:1%;
    left:2.5%;
    height:55%;
    width:95%;
    border: 1px solid black;
    text-align:center;
}
#queriesManager{
    position:absolute;
    top:61%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#queriesClient{
    position:absolute;
    top:61%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
button{
    height:30px;
    font-size: 12px;
}
br {
  margin:1.5em 0;/* FF for instance */
  line-height:3em;/* chrome for instance */
}