#button1{
    width: 300px;
    height: 40px;
    margin-top: 25%;
}
#button2{
    width: 300px;
    height: 40px;
    margin-top: 25%;
}
#container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#boxedQuery{
    position:absolute;
    top:1%;
    left:2.5%;
    height:8%;
    width:95%;
    border: 1px solid black;
    text-align:center;
}
#boxed {
    position:absolute;
    top:10%;
    left:2.5%;
    height:50%;
    width:95%;
    border: 1px solid black;
    text-align:center;
}
#queriesManager{
    position:absolute;
    top:61%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#queriesClient{
    position:absolute;
    top:61%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
button{
    height:30px;
    font-size: 12px;
}
br {
  margin:1.5em 0;/* FF for instance */
  line-height:3em;/* chrome for instance */
}